@model e_Administration_of_computer_labs.Models.Complaint

@{
    Layout = "~/Views/Shared/_DashboradLayout.cshtml";
}

<h2>Delete Complaint</h2>

<h4>Are you sure you want to delete this?</h4>

<dl class="row">
    <dt class="col-sm-2">Description</dt>
    <dd class="col-sm-10">@Model.Description</dd>

    <dt class="col-sm-2">Date</dt>
    <dd class="col-sm-10">@Model.DateSubmitted.ToShortDateString()</dd>

    <dt class="col-sm-2">Status</dt>
    <dd class="col-sm-10">@Model.Status</dd>
</dl>

<form asp-action="DeleteConfirmed">
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-danger">Delete</button>
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>
