@model e_Administration_of_computer_labs.Models.Equipment

@{
    Layout = "~/Views/Shared/_DashboradLayout.cshtml";
}

<h1>Create</h1>

<h4>Equipment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SerialNumber" class="control-label"></label>
                <input asp-for="SerialNumber" class="form-control" />
                <span asp-validation-for="SerialNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WarrantyExpiryDate" class="control-label"></label>
                <input asp-for="WarrantyExpiryDate" class="form-control" />
                <span asp-validation-for="WarrantyExpiryDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LabId" class="control-label"></label>
                <select asp-for="LabId" class ="form-control" asp-items="ViewBag.LabId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

