@model LoginViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form asp-action="Login" method="post">
    <input asp-for="Email" placeholder="Email" />
    <input asp-for="Password" placeholder="Password" type="password" />
    <input asp-for="RememberMe" type="checkbox" /> Remember Me
    <button type="submit">Login</button>
</form>
