@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager

@{
    var user = await UserManager.GetUserAsync(User);
    var roles = user != null ? await UserManager.GetRolesAsync(user) : new List<string>();
    bool isAdmin = roles.Contains("Admin");
}

<!--**********************************
              Sidebar start
  ***********************************-->
<div class="dlabnav">
    <div class="dlabnav-scroll">
        <ul class="metismenu" id="menu">

            @if (isAdmin)
            {
                <!-- User Management -->
                <li>
                    <a class="has-arrow" href="javascript:void(0);" aria-expanded="false">
                        <i class="material-symbols-outlined">home</i>
                        <span class="nav-text">User Management</span>
                    </a>
                    <ul aria-expanded="false">
                        <li><a asp-controller="Admin" asp-action="UserList">User Role & Department Assignment</a></li>
                        <li><a href="/Roles">Roles</a></li>
                        <li><a href="/Departments">Department</a></li>
                    </ul>
                </li>

                <!-- Lab Management -->
                <li>
                    <a class="has-arrow" href="javascript:void(0);" aria-expanded="false">
                        <i class="material-symbols-outlined">school</i>
                        <span class="nav-text">Lab Management</span>
                    </a>
                    <ul aria-expanded="false">
                        <li><a href="/Labs">Labs</a></li>
                        <li><a href="/LabAssignmentS">Lab Assignments</a></li>
                        <li><a href="/ExtraLabRequests">Extra Lab Request</a></li>
                    </ul>
                </li>

                <!-- Equipment & Software -->
                <li>
                    <a class="has-arrow" href="javascript:void(0);" aria-expanded="false">
                        <i class="material-symbols-outlined">person</i>
                        <span class="nav-text">Equipment & Softwares</span>
                    </a>
                    <ul aria-expanded="false">
                        <li><a href="/Equipments">Equipments</a></li>
                        <li><a href="/Softwares">Softwares</a></li>
                    </ul>
                </li>
            }
        </ul>
    </div>
</div>
<!--**********************************
        Sidebar end
***********************************-->
